{% extends "base.html" %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block content -%}
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-4">
			<div class="text-center">
				<h2>{{ user.username }}</h2>
				<img src="{% if user.image_url %}{{ user.image_url }}{% else %}/static/images/default-pic.png{% endif %}" alt="" class="profile-img" />
			</div>
		</div>
		<div>
			<div>
				<div class="form-inline">
					<h3 class="no-margin">My Decks</h3>
					<a href="/deck"><button class="btn btn-primary">New Deck</button></a>
				</div>
				<ul>
					{%- for deck in user.decks %}
					{% if current_user or deck.public %}
					<li><a href="/deck/{{ deck.id }}">{{ deck.title }}</a>{% if not deck.public %}<a href="/deck/{{ deck.id }}/detail"><button class="btn btn-primary btn-sm">🔧</button></a>{% endif %}</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{%- endblock %}