{% extends "base.html" %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block content -%}
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-4">
			<div class="text-center">
				<h2>{{ user.username }}</h2>
				<img src="{% if user.image_url %}{{ user.image_url }}{% else %}/static/images/default-pic.png{% endif %}" alt="" class="profile-img" />
			</div>
		</div>
		<div>
			<div>
				<h3>My Decks</h3>
				<a href="/deck/new"><button class="btn btn-primary">New Deck</button></a>
				<ul>
					{%- for deck in user.decks %}
					<li><a href="/deck/{{ deck.id }}/edit">{{ deck.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div>
				<h3>Reviews</h3>
				<ul>
					{%- for review in user.reviews %}
					<li><a href="/deck/{{ review.deck.id }}#{{ review.id }}">{{ review.deck.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{%- endblock %}